{% extends "./base.html" %}

{% block title %}
<title>{{ CUSTOM_SYSTEM_NAME }} - Reset Password</title>
{% endblock %}

{% block content %}
<!--
This example requires some changes to your config:

```
// tailwind.config.js
module.exports = {
    // ...
    plugins: [
    // ...
    require('@tailwindcss/forms'),
    ],
}
```
-->
<!--
This example requires updating your template:

```
<html class="h-full bg-gray-50">
<body class="h-full">
```
-->
<div class="flex min-h-full flex-col justify-center py-12 sm:px-6 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-md">
    <img class="mx-auto h-12 w-auto" src="{{ STATIC_PREFIX }}build_tool/build-a5a86faf.png" alt="Your Company">
    <h2 class="mt-6 text-center text-3xl font-bold tracking-tight text-gray-900">Reset Password</h2>
    <!-- <p class="mt-2 text-center text-sm text-gray-600">
        Or
        <a href="#" class="font-medium text-indigo-600 hover:text-indigo-500">start your 14-day free trial</a>
    </p> -->
    </div>

    <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
        {% if messages %}
        <div class="rounded-md bg-blue-50 p-4">
            <div class="flex">
                <div class="flex-shrink-0">
                <!-- Heroicon name: mini/x-circle -->
                <svg class="h-5 w-5 text-blue-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.28 7.22a.75.75 0 00-1.06 1.06L8.94 10l-1.72 1.72a.75.75 0 101.06 1.06L10 11.06l1.72 1.72a.75.75 0 101.06-1.06L11.06 10l1.72-1.72a.75.75 0 00-1.06-1.06L10 8.94 8.28 7.22z" clip-rule="evenodd" />
                </svg>
                </div>
                <div class="ml-3">
                <!-- <h3 class="text-sm font-medium text-blue-800">Info!</h3> -->
                <div class="mt-2 text-sm text-blue-700">
                    <ul role="list" class="list-disc space-y-1 pl-5">
                        {% for message in messages %}
                        <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                  </div>
                </div>
            </div>
        </div>
        {% endif %}

        <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10 mt-4">
            {% if form.errors %}
            <div class="rounded-md bg-red-50 p-4">
                <div class="flex">
                    <div class="flex-shrink-0">
                    <!-- Heroicon name: mini/x-circle -->
                    <svg class="h-5 w-5 text-red-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.28 7.22a.75.75 0 00-1.06 1.06L8.94 10l-1.72 1.72a.75.75 0 101.06 1.06L10 11.06l1.72 1.72a.75.75 0 101.06-1.06L11.06 10l1.72-1.72a.75.75 0 00-1.06-1.06L10 8.94 8.28 7.22z" clip-rule="evenodd" />
                    </svg>
                    </div>
                    <div class="ml-3">
                    <h3 class="text-sm font-medium text-red-800">Error!</h3>
                    <div class="mt-2 text-sm text-red-700">
                        <p>The email is required. Please try again.</p>
                    </div>
                    </div>
                </div>
            </div>
            {% endif %}
            <form class="space-y-6" action="#" method="POST" onsubmit="handleSubmit()">
                {% csrf_token %}
                <div>
                    <label for="email" class="block text-sm font-medium text-gray-700">Email address</label>
                    <div class="mt-1">
                    <input id="email" name="email" type="email" autocomplete="email" required class="block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">
                    </div>
                </div>

                <div>
                    <button type="submit" class="flex w-full justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2"
                        id="form_submit">
                        <svg class="animate-spin -ml-1 mr-3 h-5 w-5 text-white hidden" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                            <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                            <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
                        </svg>
                        Submit
                    </button>
                </div>
            </form>
        </div>
    </div>
    </div>
</div>

<script>
    function handleSubmit() {
        document.querySelector('form').readOnly = true;
        document.querySelector('#form_submit').disabled = true;
        document.querySelector('#form_submit').textContent = 'Please wait...';
        document.querySelector('svg.hidden').classList.remove('hidden');
    }
</script>
{% endblock content %}
